services:
  backend:
    build:
      context: ./backend
    ports:
      - "3030:3030"
    env_file:
      - .env
    restart: always

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_BACKEND_URL=${VITE_BACKEND_URL:-http://localhost:3030}
    ports:
      - "3000:5173"
    env_file:
      - .env
    depends_on:
      - backend
    restart: always
